

.customer-background {
    /*background-size: cover;*/
    /*background-image: url(../img/service-back.jpg);*/
    background-color: darkslateblue;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

}

.content-container{
    margin-top: 150px;
    height: 1200px;
    width: 100%;
    background-color:darkslateblue;
}

.content-line{
    display: flex;
    width: 100%;
    padding-top: 40px;
}
.header{
    width: 100%;
    padding-bottom: 30px;
}
.middle{
    background-color: firebrick;
}

.middle_2{
    background-color: mediumpurple;
}

.brand{
    background-color: chocolate;
}

.customer{
    background-color: hotpink;
}

.left-content{
    height : 350px;
    width: 30%;
    text-align: center;
}

#cooper-brand-img{
    width: 100%;
    height: 300px;
}

#cooper-brand-img h3{
}

#cooper-brand-img img{
    margin-top: 30px;
    width: 60%;
    height: 60%;
}

#cooper-customer-img{
    width: 100%;
    height: 300px;
}

#cooper-customer-img img{
    margin-top: 30px;
    width: 60%;
    height: 60%;
}


#cooper-customer-img h3{
}

.left-content h1{
    margin-top : 50px;
    font-size: 44px;
}

.left-content h2{
    margin-top : 5px;

}

.right-content{
    height : 350px;
    width: 70%;
}

.logoClass{
    padding: 5px;
    margin: 10px;
    width: 20%;
    display: inline-flex;
}

.logoClass img{
    width: 100%;
    height:100%;
}