.joinus-background {
    background-size: cover;
    background-image: url(../img/joinusbg.png);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

}


.joinus-background2 {
    background-size: cover;
    background-image: url(../img/joinusbg2.png);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

}